@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#root {
  text-align: center;
  overflow: hidden;
}

body {
  cursor: crosshair;
}

.code-text {
  font-family: 'Fira Code', monospace;
  font-weight: 400;
}

.poppins-font {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}

.tech-card {
  background-color: #16264d;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  font-family: 'Fira Code', monospace;
  font-size: 25px;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: white 0px 0px 10px;
}

.button {
  box-shadow: white 0px 0px 10px;
}

.project-card {
  background-color: #16264d;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  font-family: 'Fira Code', monospace;
  font-size: 15px;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  box-shadow: white 0px 0px 10px;
}

.project-card h1 {
  font-weight: bold;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-large {
  font-size: 5rem;
  color: white;
}

.project-git-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: auto;
}

@Media (max-width: 860px) {
  .about-me-mobile {
    width: 90%;
  }
  .grid-tech-mobile {
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
  }
  .tech-card{
    padding: 10px;
    margin: 10px;
    font-size: 17px;
  }
  .grid-project-mobile {
    grid-template-columns: 1fr;
  }
  .project-mobile {
    width: 100%;
    margin: 0;
  }
  .arrow-mobile {
    display: none;
  }
  .button {
    width: 80%;
  }
  .mobile-name {
    font-size: 2.5rem;
  }
  .contact-icons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    width: auto;
  }
  .contact-item {
    margin: 10px;
  }
}

@media (max-width: 600px) {
  .grid-tech-mobile {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }
}
