@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

#root {
  text-align: center;
  overflow: hidden;
}

body {
  cursor: crosshair;
}

.code-text {
  font-family: 'Fira Code', monospace;
  font-weight: 400;
}

.tech-card {
  background-color: #353f72;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  font-family: 'Fira Code', monospace;
  font-size: 25px;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: white 0px 0px 10px;
}

.button {
  box-shadow: white 0px 0px 10px;
}

.project-card {
  background-color: #353f72;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  font-family: 'Fira Code', monospace;
  font-size: 15px;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  box-shadow: white 0px 0px 10px;
}

.project-card h1 {
  font-weight: bold;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-large {
  font-size: 5rem;
}

.project-git-links {
  display: flex;
  justify-content: space-around;
  margin-top: auto;
}

@Media (max-width: 600px) {
  .about-me-mobile {
    width: 90%;
  }
  .grid-tech-mobile {
    grid-template-columns: 1fr;
  }
  .grid-project-mobile {
    grid-template-columns: 1fr;
  }
  .project-mobile {
    width: 100%;
  }
  .arrow-mobile {
    display: none;
  }
  .button {
    width: 80%;
  }
  .mobile-name {
    font-size: 2.5rem;
  }
  .contact-icons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    width: auto;
  }
  .contact-item {
    margin: 10px;
  }
}


